<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Register Form</title>
    <style>
      body {
        font-family: Arial, sans-serif;
        background-color: #000;
        margin: 0;
        padding: 0;
        display: flex;
        justify-content: center;
        align-items: center;
        height: 100vh;
      }

      .main {
        background-color: #fff;
        border-radius: 15px;
        box-shadow: 0 0 20px rgba(255, 255, 255, 0.991);
        padding: 20px;
        margin-bottom: 100px;
        width: 300px;
      }

      .main h2 {
        color: #0c9bf4;
        margin-bottom: 20px;
        text-align: center;
        padding: 20px;
      }

      label {
        display: block;
        margin-bottom: 5px;
        color: #555;
        font-weight: bold;
      }

      input[type="text"],
      input[type="email"],
      input[type="password"],
      select {
        width: 100%;
        margin-bottom: 15px;
        padding: 10px;
        box-sizing: border-box;
        border: 1px solid #ddd;
        border-radius: 5px;
      }

      button[type="submit"] {
        padding: 15px;
        border-radius: 10px;
        border: none;
        background-color: #0c9bf4;
        color: white;
        cursor: pointer;
        width: 100%;
        font-size: 16px;
      }
    </style>
  </head>

  <body>
    <div class="main">
      <h2>Register Form</h2>
      <form method="post" action="/register">
        <label for="name">Name:</label>
        <input
          type="text"
          id="name"
          name="name"
          required
          placeholder="What is your name?"
        />

        <label for="email">Email:</label>
        <input
          type="email"
          id="email"
          name="email"
          required
          placeholder="What is your email?"
        />

        <label for="password">Password:</label>
        <input
          type="password"
          id="password"
          name="password"
          required
          placeholder="What is your password?"
        />

        <button type="submit">Register</button>
      </form>
    </div>
  </body>
</html>
